.body{
    background:#0e1538 ;
}


.conteiner{
    position: relative;
    width: 100vw;
    height: 97vh;
    background: #0e1538;
}

#alura{
    position: relative;
    width: 05%;
    left: 12.2%;
    top: 3%;
}


.encriptar{
    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    top: 15%;
    background: rgba(0,0,0,0.5);
    overflow: hidden;
    border-radius: 20px;

}

.encriptar::before{
    content: '';
    position: absolute;
    width: 150px;
    height: 230%;
    top: -60%;
    left: 40%;
    background: linear-gradient(#00ccff,#d400d4);
    animation: animate 15s linear infinite;

}


@keyframes animate {

    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(350deg);
    }
}


.texto{
    position: absolute;
    width: 97.5%;
    height: 97.5%;
    left: 1%;
    top: 1%;
    border: none;
    font-family: "Consolas";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    border-radius: 16px;
    color: #ffffff;
    background-color: #0e1538;

}


.texto::placeholder{
    color: #c9ccd1;
}

.texto:focus,
.texto:active {
    border: none;
    outline: none;
}

.botonCopiar{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: 48.5%;
    top: 75%;
    width: 30%;
}

.btn-copiar{
    align-items: center;
    justify-content: center;
    padding: 2%;
    width: 25.5%;
    background-color: #0a3871;
    border: 1px solid #0a3871;
    border-radius: 24px;
    font-family: "Consolas";
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #03e9f4;
}

.btn-copiar:hover{
    border: none;
    font-weight: 700;
    background: #f350df;
    color: #050801;
    box-shadow: 0 0 5px #f350df,
                0 0 25px #f350df,
                0 0 50px #f350df,
                0 0 200px #f350df;
}

.terminos{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 80%;

}

.terminos p {
    font-family: "Consolas";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #c9ccd1;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 82%;
}

.btn-encriptar {
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background-color: #0a3871;
    border: 1px solid #0a3871;
    border-radius: 24px;
    font-family: "Consolas";
    font-size: 24px;
    line-height: 19px;
    text-align: center;
    color: #03e9f4;
    margin: 0 25px 0 0;
    text-transform: uppercase;
}

.btn-desencriptar{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    color: #03e9f4;
    background: #0a3871;
    border: 1px solid #0a3871;
    border-radius: 24px;
    font-family: "Consolas";
    font-weight: 400; 
    font-size: 24px;
    line-height: 19px;
    text-align: center;
    /*color-interpolation-filters: #0a3871;*/
}

.btn-encriptar:hover{
    border: none;
    font-weight: 700;
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;

}
.btn-desencriptar:hover{
    /*width: 24.5%;
    padding: 1.8%;*/
    border: none;
    font-weight: 700;
    background: #03f490;
    color: #050801;
    box-shadow: 0 0 5px #03f490,
                0 0 25px #03f490,
                0 0 50px #03f490,
                0 0 200px #03f490;
}
.encriptado{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 80%;
    left: 60%;
    top: 5%;
    background: #ffffff;
    box-shadow: 0 0 50px #f350df;
    border-radius: 32px;
}

.mensajeEncriptado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap:16px;
    position: absolute;
    width: 100%;
    top: 70%;
    text-align: center;
}

.mensajeEncriptado h2{
    width: 60%;
    font-family: "Consolas";
    font-style: normal;
    font-weight: 700;
    font-size: 30pX;
    line-height: 120%;
    color: #343a40;
    justify-content: center;
}

.mensajeEncriptado p{
    width: 80%;
    font-family: "Consolas";
    font-style: normal;
    font-weight:700;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #495057;
}

#imgEncriptado{
    position: absolute;
    width: 80%;
    top: 15%;
    
}

.footer{
    background: #0e1538;
    font-family: "Consolas";
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
}



@media (max-width: 57.5em) {
    .conteiner {
        display: flex;
        flex-direction: row;
        
    }
    .encriptar{
        width: 100%;
    }
    .terminos{
        width: 80%;
        left: 10%;
        top: 67%;
    }
    .texto {
        width: 80%;
        height: 60%;
        left: 10%;
        top: 5%;
    }
    
    .texto::placeholder{
        font-size: 18px;
    }

    .botones {
        width: 80%;
        left: 10%;
        top: 70%;
    }

    .btn-encriptar, .btn-desencriptar{
        width: 48%;
    }

    .btn-encriptar:hover, .btn-desencriptar:hover{
        margin: 0.3%;
        width: 47.5%;
        padding: 1.8%;
    }

    .encriptado{
        width: 80%;
        height: 15%;
        left: 10%;
        top: 75%;
    }

    .mensajeEncriptado{
        width: 100;
        top: 5%;
    }

    .encriptado img{
        top: 0;
        display: none;
        visibility: hidden;
    }
}
